@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9587 0.0027 286.3496);
  --foreground: oklch(0.2528 0.0440 301.3369);
  --card: oklch(0.9821 0 0);
  --card-foreground: oklch(0.2565 0.0479 303.4577);
  --popover: oklch(0.9850 0 0);
  --popover-foreground: oklch(0.3383 0.0306 312.7113);
  --primary: oklch(0.5580 0.2880 302.3210);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9020 0.0630 306.7030);
  --secondary-foreground: oklch(0.3810 0.1760 304.9870);
  --muted: oklch(0.9460 0.0330 307.1740);
  --muted-foreground: oklch(0.4390 0 0);
  --accent: oklch(0.8981 0.0553 303.9124);
  --accent-foreground: oklch(0.4805 0.1184 304.4617);
  --destructive: oklch(0.5955 0.1598 16.3116);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.7867 0.0171 322.7139);
  --input: oklch(0.9770 0.0140 308.2990);
  --ring: oklch(0.3329 0 0);
  --chart-1: oklch(0.7763 0.0916 250.0365);
  --chart-2: oklch(0.7281 0.1696 322.3376);
  --chart-3: oklch(0.5936 0.1669 282.8471);
  --chart-4: oklch(0.6686 0.0926 165.3477);
  --chart-5: oklch(0.9163 0.1056 119.2755);
  --sidebar: oklch(0.9370 0 0);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.4891 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9203 0.0227 321.3518);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.8576 0 0);
  --sidebar-ring: oklch(0.4891 0 0);
  --font-sans: Albert Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Andada Pro, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 1.075rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1730 0 0);
  --foreground: oklch(0.9238 0.0094 99.9923);
  --card: oklch(0.1957 0 0);
  --card-foreground: oklch(0.9014 0.0108 106.6133);
  --popover: oklch(0.2435 0 0);
  --popover-foreground: oklch(0.8853 0 0);
  --primary: oklch(0.4960 0.2650 301.9240);
  --primary-foreground: oklch(0.9014 0.0108 106.6133);
  --secondary: oklch(0.2510 0.1208 300.6259);
  --secondary-foreground: oklch(0.9014 0.0108 106.6133);
  --muted: oklch(0.2500 0.0360 295.7780);
  --muted-foreground: oklch(0.8853 0 0);
  --accent: oklch(0.2983 0.1453 296.8446);
  --accent-foreground: oklch(0.9014 0.0108 106.6133);
  --destructive: oklch(0.5168 0.1331 8.8507);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2478 0 0);
  --input: oklch(0.3092 0 0);
  --ring: oklch(0.3446 0 0);
  --chart-1: oklch(0.6630 0.0838 243.8902);
  --chart-2: oklch(0.6568 0.1692 326.5179);
  --chart-3: oklch(0.4920 0.1391 283.5410);
  --chart-4: oklch(0.6686 0.0926 165.3477);
  --chart-5: oklch(0.9395 0.1236 120.7346);
  --sidebar: oklch(0.2393 0 0);
  --sidebar-foreground: oklch(0.8853 0 0);
  --sidebar-primary: oklch(0.7058 0 0);
  --sidebar-primary-foreground: oklch(0.2178 0 0);
  --sidebar-accent: oklch(0.2982 0.1451 301.3398);
  --sidebar-accent-foreground: oklch(0.8853 0 0);
  --sidebar-border: oklch(0.3290 0 0);
  --sidebar-ring: oklch(0.7058 0 0);
  --font-sans: Albert Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Andada Pro, ui-serif, serif;
  --font-mono: Fira Code, ui-monospace, monospace;
  --radius: 1.075rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
}

@theme inline {
  --color-grey: #343434;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
