---
import {
    Card,
    CardContent,
    CardFooter,
    CardHeader,
    CardTitle,
} from "./ui/card";
import { Button } from "./ui/button";
---

<Card>
    <CardContent>
        <p class="mt-4 mb-4 text-lg leading-relaxed font-light">
            O design e marketing são essenciais para o CoderDojo Braga, pois
            permitem expandir a nossa atuação, dando-nos a conhecer a mais
            pessoas, sejam novos guardiões e ninjas, ou mentores e voluntários.
        </p>
        <p class="mt-0 mb-4 text-lg leading-relaxed font-light">
            Junta-te à nossa equipa, e contribui para tornar este projeto nalgo
            cada vez maior e melhor.
        </p>
    </CardContent>
    <CardFooter>
        <a href="https://forms.gle/iEjGdnxfGYbk9rFy6" target="_blank">
            <Button>Quero ajudar com Design e Marketing</Button>
        </a>
    </CardFooter>
</Card>
