---
import { Button } from "./ui/button";
import {
    Card,
    CardContent,
    CardFooter,
    CardHeader,
    CardTitle,
} from "./ui/card";
import { Image } from "astro:assets";
import mentor from "src/assets/mentor.jpg";
---

<Card>
    <CardContent>
        <p class="mt-4 mb-4 text-lg leading-relaxed font-light text-black">
            Os Mentores são o coração do CoderDojo Braga. Sem eles, não há
            sessões e não há ninjas a aprender a programar.
        </p>
        <div class="float-right pb-2 mr-auto ml-auto px-4 sm:w-3/4 md:w-6/12">
            <Image
                alt="Mentores do Dojo"
                src={mentor}
                class="rounded-2xl shadow-2xl"
                loading={"eager"}
            />
        </div>
        <p class="mt-0 mb-4 text-lg leading-relaxed font-light text-black">
            Ao seres mentor, não só estás a ter um impacto positivo na vida dos
            ninjas, como estás a desenvolver as tuas <i>soft skills</i>,
            nomeadamente a forma como comunicas com os outros.
        </p>
    </CardContent>
    <CardFooter>
        <a
            href="https://forms.gle/iEjGdnxfGYbk9rFy6"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Button> Quero ser Mentor </Button>
        </a>
    </CardFooter>
</Card>
